/build
/*.iml
/*.DS_Store
/app/AppDemoSandbox/libs/*.DS_Store
/app/AppDemoSandbox/src/main/*.DS_Store
/app/AppDemoSandbox/src/main/aidl/*.DS_Store
/app/AppDemoSandbox/src/main/aidl/com/*.DS_Store
/app/AppDemoSandbox/src/main/aidl/com/example/*.DS_Store
/app/AppDemoSandbox/src/main/java/*.DS_Store
/app/AppDemoSandbox/src/main/java/com/*.DS_Store
/app/AppDemoSandbox/src/main/java/com/example/*.DS_Store
/app/AppDemoSandbox/src/main/java/com/google/android/*.DS_Store
/app/AppDemoSandbox/src/main/res/*.DS_Store
/dep/*.DS_Store
/dep/adModules/*.DS_Store
/.gradle
/.idea
/local.properties
/release
